/* Works on Firefox */
*{
  scrollbar-width: thin;
  scrollbar-color: #F08080 crimson;
}
  
/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}
  
*::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.79);
}
  
*::-webkit-scrollbar-thumb {
  background-color:  #F08080;
  border-radius: 20px;
  border: 3px solid rgba(0, 0, 0, 0.79);
}